/* СТИЛИ ДЛЯ index.html */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --icon-color: #afb1b8;
}
body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  /* margin-top: 0;
  margin-bottom: 0; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.logo {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  text-decoration: none;
}

.logo > span {
  color: var(--accent-color);
}

/* Site-nav */

.main-nav {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav-item + .site-nav-item {
  margin-left: 50px;
}

.site-nav-item {
  position: relative;
}

/* .site-nav-item {
  margin-right: 50px;
}
.site-nav-item:last-child {
  margin-right: 0;
} */
/* .site-nav-item:not(:last-child){
  margin-right: 50px;
} */

.site-nav-item-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-item-link:hover,
.site-nav-item-link:focus {
  color: var(--accent-color);
}

.site-nav-item-link.current {
  color: var(--accent-color);
}

.site-nav-item-link.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-bottom: 4px solid var(--accent-color);
  border-radius: 2px;
}
.contact-nav {
  display: flex;
  margin-left: auto;
}
.contact-nav-item + .contact-nav-item {
  margin-left: 50px;
}

.contact-nav-item-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav-item-link:hover,
.contact-nav-item-link:focus {
  color: var(--accent-color);
}

.icon {
  fill: currentColor;
}

.icon-envelope,
.icon-vector {
  margin-right: 10px;
}

/* Hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  /* outline: 1px solid black; */
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  text-align: center;
  color: var(--background-color);
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 696px;
  margin-top: 0;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-primary {
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  border-radius: 4px;

  background-color: var(--accent-color);
  color: var(--background-color);
  font-family: 'Roboto', sans serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  /* transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-primary:hover,
.button-primary:focus {
  background-color: #188ce8;
}

/* Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-padding {
  padding-top: 0;
}

.title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* .features-title,
.work-title,
.team-title,
.clients-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
} */

.section-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Особенности*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}
.features-list {
  display: flex;
  justify-content: space-between;
}
.features-item {
  width: 270px;
  margin-right: 30px;
}
.features-item:last-child {
  margin-right: 0;
}
.features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  background-size: contain;
}

/* .features-item::before {
  display: block;
  content: '';
  width: 270px;
  height: 120px;

  outline: 1px solid red;
  margin-bottom: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}

.icon-antenna::before {
  background-image: url('../images/antenna.svg'); */

/* .icon-clock::before {
  background-image: url('../images/clock.svg');
}

.icon-diagram::before {
  background-image: url('../images/diagram.svg');
}

.icon-astronaut::before {
  background-image: url('../images/astronaut.svg');
} */

.features-item-title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-item-text {
  margin-top: 0;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* Чем мы занимаемся */

.work-list {
  display: flex;
  margin-left: -30px;
}

.work-item {
  position: relative;
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.work-item-text {
  position: absolute;

  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px 82px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Команда */

.team-list {
  display: flex;
  margin-left: -30px;
}

.team-item {
  background-color: var(--background-color);
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item-title {
  margin-bottom: 10px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-item-text {
  margin-bottom: 16px;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-content {
  padding-top: 30px;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-right: 32px;
  margin-left: 32px;
  width: 206px;
  height: 44px;
  list-style: none;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  background-color: var(--background-color);
  border-radius: 50%;
  color: var(--icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
}

/* Постоянные клиенты */

.clients-list {
  display: flex;
  justify-content: space-between;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Футер */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
  color: var(--background-color);
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
  color: var(--background-color);
  font-weight: 700;
}

.footer .logo > span {
  color: var(--accent-color);
  margin-bottom: 20px;
}
.address-box-text {
  margin-bottom: 9px;

  color: var(--background-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address-box-link {
  display: block;
  margin-bottom: 9px;

  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-box-link:last-child {
  margin-bottom: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-box-link:hover,
.address-box-link:focus {
  color: var(--accent-color);
}

.footer-inner {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.address-box {
  width: 231px;
}

.social-links-box {
  width: 206px;
  margin-top: 12px;
  margin-left: 70px;
}

.social-links-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
}

.social-links-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 206px;
  height: 44px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.icon-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: var(--background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-footer:hover,
.icon-link-footer:focus {
  background-color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  /* width: 1600px;
  height: 1024px; */
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 521px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.btn-close {
  cursor: pointer;
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover {
  color: var(--accent-color);
}
.icon-close-modal {
  margin: auto;
}

/* СТИЛИ ДЛЯ Portfolio.html */

.projects-lists {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.projects-lists .button.current:hover,
.projects-lists .button.current:focus,
.projects-lists .button:hover,
.projects-lists .button:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-lists .button {
  border-radius: 4px;

  background-color: #f5f4fa;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-item {
  margin-left: 8px;
}
.btn-item:nth-child(1) {
  margin-left: 0;
}
.projects-cards {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  background-color: var(--background-color);
}

.projects-item {
  width: 370px;
  margin: 15px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item:hover,
.projects-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-item:hover .overlay,
.projects-item:focus .overlay {
  opacity: 1;
}

.projects-item:hover ::before,
.projects-item:focus ::before {
  opacity: 1;
}

/* .projects-item-thumb:hover ::before {
  opacity: 1;
} */
.projects-item-thumb {
  position: relative;
}

.projects-item-thumb::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ИЛИ МОЖНО СДЕЛАТЬ ТАК */
/* 1. у каждого третьего ребенка убрать маржин справа */
/* .projects-item:nth-child(3n) {
  margin-right: 0;
}
/* 2. у троих нижних детей убрать маржин нижний */
/* /* .projects-item:nth-last-child(-n + 3) {
  margin-bottom: 0; */

/* 3. распределить пространство независимо от размера конт.
 на 3 детей за минусом двух маржинов между ними */
/* .projects-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
} */

.content {
  width: 370px;
  padding: 20px 24px;
  border: 1px solid rgba(238, 238, 238, 1);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 63px 24px;
  opacity: 0;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--background-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item-title {
  margin-bottom: 4px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-item-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

button {
  border: 1px solid transparent;

  font-family: inherit;
  cursor: pointer;
  padding: 6px 22px;
  text-align: center;
}
